<a href="https://colab.research.google.com/github/careergoal2026/python/blob/main/ListDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sum of array
def sumOfArray(N,input):
  sum=0
  for i in range(N):
    sum+=input[i]
  return sum
N=5
input=[1,2,3,4,5]
sumOfArray(N,input)

15

In [ ]:
def secondLargest(input_list):
  if len(input_list)<2:
    return -1
  else:
    non_dup= list(set(input_list)) # Removes duplicates
    non_dup.sort() # Sorts the list in-place
    return non_dup[-2]





input_list=[1]
secondLargest(input_list)

-1

In [ ]:
#Remove that
def removeItem(input_list,index_no):
  if 0<=index_no<len(input_list):
    input_list.pop(index_no)


  for no in input_list:
    print(no)

a=[2 ,3, 1, 4 ,2]
index_no=3
removeItem(a,index_no)

2
3
1
2

In [8]:
#Q9. Shopping list items
def shop_list():

  shopping_list=[]
  while True:
    my_list=input().lower()
    if my_list=="end":
      break
    else:
      shopping_list.append(my_list)
  for items in shopping_list:
    print(items)
shop_list()

egg
grape
pen
pan
end
egg
grape
pen
pan

In [11]:
x=[1,2]
y=[2,3]
for i in x:
  for j in y:
    print(i,j,end=" ")

1 2 1 3 2 2 2 3

In [16]:
#First Multiple
def firstMulti(ls,x):
  for i in ls:
    if i%x==0:
      return i
      break

  return -1

ls = [2, 1, 2, 5]
x  = 4
firstMulti(ls,x)

-1

In [20]:
#Consecutive Duplicate
def cons_dup(ls):
  i=1
  for i in range(len(ls)):
    if ls[i]==ls[i-1]:
      return True

  return False

ls=[1,2,3,3]
cons_dup(ls)

True

In [22]:
def swap(n_list):
  n_list[0],n_list[-1]=n_list[0],n_list[-1]

  print(n_list)
n_list=[1,2,3,4]
swap(n_list)

[1, 2, 3, 4]

In [26]:
#add names at once
old_students = ['Manoj', 'Raju', 'Shiva' ]

new_students = ['Akhil', 'Balu', 'Chitra']

old_students.extend(new_students)

print(old_students)

['Manoj', 'Raju', 'Shiva', 'Akhil', 'Balu', 'Chitra']

In [28]:
# Difference of even and odd
def diff(ls):
  sum_even=0
  sum_odd=0
  for no in ls:
    if no%2==0:
      sum_even+=no
    else:
      sum_odd+=no
  return sum_even-sum_odd
ls=[2 ,8 ,4 ,6]
diff(ls)

20

In [31]:
#Divisible by 5 and 7
def div(ls):
  new_list=[]
  for i in range(len(ls)):
    if ls[i]%5==0 and ls[i]%7==0:
      new_list.append(ls[i])
  return new_list
ls=[5, 7, 70, 50, 35]
div(ls)

[70, 35]

In [33]:
#Product of elements
def product(ls):
  mul=1
  for i in range(len(ls)):
    mul*=ls[i]
  return mul

ls=[7, 9, 2, 51]
product(ls)

6426